.row{
    width: 100%;
 }
 div{
    background-color: #fefefe;
}

/*estilo de la foto de banner*/

@media (min-width: 575px) {
    .fotobanner{
        position: sticky;
        width: 100%;
        height: 600px;
        margin-left: 20px;
    }
}
@media (max-width: 575px) {
    .fotobanner{
        position: sticky;
        width:100%;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
       
    }
}