<div class="row"> 
  <h1>Hard & Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress 
        [animation]= " true " 
        [animationDuration]= " 600 " 
        [innerStrokeWidth]= " 4 " 
        [innerStrokeColor]= " '#EDDCD2' " 
        [outerStrokeWidth]= " 10 " 
        [outerStrokeColor]= " '#CB997E' "     
        [percent]= " 85 " 
        [radius]= " 70 "
        [showUnits]=" false "
        [showSubtitle]=" false "
        [showTitle]="true"
        [title]=" 'HTML' "
        [titleFontSize]=" '20' "
              
        
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress 
        [animation]= " true " 
        [animationDuration]= " 600 " 
        [innerStrokeWidth]= " 4 " 
        [innerStrokeColor]= " '#EDDCD2' " 
        [outerStrokeWidth]= " 10 " 
        [outerStrokeColor]= " '#CB997E' "     
        [percent]= " 85 " 
        [radius]= " 70 "
        [showUnits]=" false "
        [showSubtitle]=" false "
        [showTitle]="true"
        [title]=" 'CSS' "
        [titleFontSize]=" '20' "
        
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress 
        [animation]= " true " 
        [animationDuration]= " 600 " 
        [innerStrokeWidth]= " 4 " 
        [innerStrokeColor]= " '#EDDCD2' " 
        [outerStrokeWidth]= " 10 " 
        [outerStrokeColor]= " '#CB997E' "     
        [percent]= " 85 " 
        [radius]= " 70 "
        [showUnits]=" false "
        [showSubtitle]=" false "
        [showTitle]="true"
        [title]=" 'JAVA SCRIPT' "
        [titleFontSize]=" '20' "
        
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress 
        [animation]= " true " 
        [animationDuration]= " 600 " 
        [innerStrokeWidth]= " 4 " 
        [innerStrokeColor]= " '#EDDCD2' " 
        [outerStrokeWidth]= " 10 " 
        [outerStrokeColor]= " '#CB997E' "     
        [percent]= " 100 " 
        [radius]= " 70 "
        [showUnits]=" false "
        [showSubtitle]=" false " 
        [showTitle]="true"
        [title]=" 'ENGLISH' "
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress 
        [animation]= " true " 
        [animationDuration]= " 600 " 
        [innerStrokeWidth]= " 4 " 
        [innerStrokeColor]= " '#EDDCD2' " 
        [outerStrokeWidth]= " 10 " 
        [outerStrokeColor]= " '#CB997E' "     
        [percent]= " 85 " 
        [radius]= " 70 "
        [showUnits]=" false "
        [showSubtitle]=" false "
        [showTitle]="true"
        [title]=" 'GIT' "
        [titleFontSize]=" '20' "
        
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress 
        [animation]= " true " 
        [animationDuration]= " 600 " 
        [innerStrokeWidth]= " 4 " 
        [innerStrokeColor]= " '#EDDCD2' " 
        [outerStrokeWidth]= " 10 " 
        [outerStrokeColor]= " '#CB997E' "     
        [percent]= " 85 " 
        [radius]= " 70 "
        [showUnits]=" false "
        [showSubtitle]=" true "
        [showTitle]="true"
        [subtitle]=" 'WORK' "
        [subtitleFontSize]=" '15' "
        [title]=" 'COLAVORATIVE ' "
        [titleFontSize]=" '15' "
        
    ></circle-progress>
  </div>
  
</div>