.row{
    padding: 20px;
}
div{
    background-color: #fefefe;
    text-align: center;
}

/*estilo de la foto de perfil*/
@media (min-width: 575px) {
    #fotodeperfil{
        position: absolute;
        width: 15%;
        box-shadow: 3px 3px 3px grey ;
        left: 3%;
    }
}

/*etiquta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}