.row{

}
div{
    background-color: #fefefe;
}

/*estilo de la foto de perfil*/
@media (min-width: 575px) {
    #fotodeperfil{
        position: absolute;
        width: 15%;
        box-shadow: 3px 3px 3px grey ;
        left: 3%;
        right: 3%;
        
    }
    #nombreypuesto{
        text-align: center;
        margin-left: 20px;
    }
    #acercademi{
        text-align: center;
        padding-right: 20px;
    }
}

@media (max-width: 575px) {
    #fotodeperfil{
        position: sticky;
        width: 100%;
        padding: 20px;
    }
    #nombreypuesto{
        text-align: center;
    }
    #acercademi{
        text-align: center;
        padding: 20px;
    }
}

/*etiquta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30px;
}

