<div Class="row">
    <div Class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FOTO 1.jpeg" Class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Nessmann Nahir</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <Span>
            <h1>Acerca de mi</h1>
            <p>¡Hola! Soy Nahir Nessmann, una desarrolladora full stack junior en busca de mi primera oportunidad en la industria tecnológica. Aunque soy relativamente nuevo en el mundo del desarrollo web, estoy muy emocionado por aprender y crecer en esta carrera.

            No tengo experiencia profesional en este campo aun, pero he estado dedicando mucho tiempo a estudiar y practicar diferentes lenguajes de programación y herramientas de desarrollo. Me siento cómodo trabajando con lenguajes como HTML, CSS, JavaScript y estoy en el proceso de aprender frameworks como React y Node.js.
                
            Me gusta enfrentar desafíos y trabajar en proyectos emocionantes. Siempre estoy buscando maneras de mejorar mis habilidades y de encontrar soluciones creativas a los problemas. Además, me considero una persona muy organizada, eficiente y con excelentes habilidades para trabajar en equipo.
                
            Me encantaría tener la oportunidad de trabajar en proyectos interesantes y desafiantes y de contribuir en la creación de soluciones innovadoras. Si estás buscando a alguien que esté dispuesto a aprender y crecer junto contigo, no dudes en contactarme. ¡Estoy emocionado por conocer más acerca de tus proyectos y de cómo puedo ser parte de ellos!</p>
        </Span>
    </div>
</div>
