<div class="row">
    <h1> Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>2001</h1> - <h3> Docente Auxiliar de Inglés</h3>
            </li>
            <p>
                Advance Institute, Federal, E.R. 
                - 
                Abril 2013 - Diciembre 2014
            </p>
            <li>
                <h1>2001</h1> - <h3> Docente Auxiliar de Inglés</h3>
            </li>
            <p>
                Advance Institute, Federal, E.R. 
                - 
                Abril 2013 - Diciembre 2014
            </p>
        </ul>
    </div>
</div>
