.row{
    width: 100%;
 }
 div{
    background-color: #fefefe;
    text-align: center;
}

/*estilo de la foto de banner*/

@media (min-width: 575px) {
    #fotobanner{
        position: sticky;
        width: 100%;
        height: 600px;
    }
}
@media (max-width: 575px) {
    #fotobanner{
        position: sticky;
        width: 100%;
        height: 225px;
        left: 3%;
    }
}